.app{
  text-align: center;
}
.heading{
  border: 2px solid brown;
  margin: 20px;
  text-align: center;
  padding: 20px;
  font-size: xx-large;
  color: #604A39;
  text-shadow: 2px 3px 5px gray;
  background-color: bisque;
  box-shadow: 5px 5px 5px gray;
  border-radius: 20px;
}
.scrolling{
  font-size: large;
  color: #E22133;
  animation: scroll 10s linear infinite;
  transform: translateX(100%);
}
@keyframes scroll {
  from{
    transform: translate(100%);
  }
  to{
    transform: translate(-50%);
  }
}
.container{
  display:grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 220px;
  margin: 2%;
  overflow: scroll;
}
.card{
  margin: 2%;
  border: 1px solid gray;
  padding: 10px;
  max-width: 140px;
  max-height: 200px;
  overflow: scroll;
  box-shadow: 0px 0px 5px gray;
}
.image-shadow{
  animation: rotation 15s infinite;
  transform: rotate(0deg);
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.image-shadow:hover{
  box-shadow: 0px 0px 30px gray;
}
.singleCoin{
  align-content: center;
  margin: 2%;
  border: 1px solid black;
  background-color: bisque;
  overflow: scroll;
  border-radius: 5px;
}
.singleImage{
  margin-top: 3%;
  overflow: scroll;
  box-shadow: 0px 0px 5px gray;
}
.backButton{
  padding: 5px;
  border: 1px solid #E16B1D;
  background-color: #E16B1D;
  border-radius: 10px;
  margin-left: 2%;
}
.backButton:hover{
  padding: 7px;
  box-shadow: 0px 0px 5px gray;
}
.detailsButton{
  padding: 5px;
  border: 2px solid gray;
  margin: 2%;
  background-color: #76D931;
  border-radius: 5px;
}
.detailsButton:hover{
  border: 2px solid green;
  box-shadow: 0px 0px 5px gray;
}